<div class="container-fluid mt-5">
  <div class="d-flex justify-content-center">
    <h2 i18n>Siga-me nas redes sociais</h2>
  </div>
  <div class="social">
    <a href="https://www.facebook.com/leticiarenata/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/eticialima/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UCyPwE2HDDO_GCLzQHuXVH-g" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/leticiarenata/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://github.com/eticialima" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
  </div>
  <div class="d-flex justify-content-center p-5">
    <p><strong>Site Portfólio</strong> by Leticia Lima <br>https://leticialima.vercel.app </p>
  </div>
</div>
