<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
    <a class="navbar-brand" href="/">Letícia Lima</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav gap-3 mb-2 mb-lg-0 mx-auto">
				<li class="nav-item">
					<a class="link-navbar" aria-current="page" (click)="home()" i18n>Inicio</a>
				</li>
				<li class="nav-item">
					<a class="link-navbar" (click)="about()" i18n>Sobre</a>
				</li>
				<li class="nav-item">
					<a class="link-navbar" (click)="projects()" i18n>Projetos</a>
				</li>
        <li class="nav-item">
					<a class="link-navbar" (click)="courses()" i18n>Cursos</a>
				</li>
				<li class="nav-item">
					<a class="link-navbar" (click)="contact()" i18n>Contato</a>
				</li>
			</ul>
		</div>
    <div style="width:100px;">
      <select class="form-control" [(ngModel)]="locale" (change)="onChangeLang($event)">
        <option *ngFor="let language of locales" [value]="language.code">
          {{language.label}}
        </option>
      </select>
    </div>
	</div>
</nav>
