<div class="hero">
	<div class="container py-5">
		<h2 class="text-white" i18n>Sobre Mim!</h2>
		<h4 class="text-white" i18n>Apaixonada por Desenvolvimento e Computação Gráfica 3D</h4>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="img-fluid" src="../../assets/logo/leticia.jpg">
		</div>
		<div class="col-md-6 p-5 my-5">
			<p class="lh-lg py-3" i18n>Ei! Meu nome é Letícia Lima, atualmente trabalho com desenvolvimento de sistemas com Python e Django Framework. Nos tempos livre trabalho como freelancer em projetos de Desenvolvimento Web.</p>
			<p class="lh-lg py-3" i18n>Sou formada em Engenharia da Computação com foco em programação e sistemas, possuo uma visão ampla e sólida de ferramentas e conceitos. Tenho experiência em Python, Django e Angular, programando diversos tipos de aplicações Web.</p>
			<p class="lh-lg" i18n>Fique a vontade para conhecer meus projetos.</p>
      <a class="btn btn-light my-2" (click)="tcc()">TCC-2020</a>
		</div>
	</div>
</div>
