/* SCSS HEX */
$white: #ffffff;
$black-olive: #3b3c36;

$pale-silver: #ddcecdff;
$pale-gray: #797676;
$color-red: #d80101;
$pale-burlywood: #deb887;
$shadow_color: #0000002e;

$color_background: $white;
$color_background_dark: $black-olive;
$color_shadow_card: $shadow_color;
$color_button_red: $color-red;
$color_button_gray: $pale-gray;
$color_button_wood: $pale-burlywood;
